<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <%= render 'partials/sidebar' %>
    </div>

    <div class="col-xs-9">
      <div id="content">
        <div class="row">
          <div class="col-xs-12">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
