<aside class="sidebar">
  <div class="row">
    <div class="col-xs-7">
      <div class="form-status {{ apiStatus == 'ok' ? 'up' : 'down' }}"
           data-toggle="tooltip" data-placement="top" title="Synchronisation active">
        <i class="fa fa-{{ apiStatus == 'ok' ? 'check' : 'times' }}"></i> Form {{ apiStatus == 'ok' ? 'online' : 'offline' }}
      </div>
    </div>

    <div class="col-xs-5">
      <div id="time-tracker" data-toggle="tooltip" data-placement="top" title="Temps passé sur ce formulaire">
        <i class="fa fa-clock-o"></i> {{ currentTime }}
      </div>
    </div>

    <div class="col-xs-5">
      <current-time></current-time>
    </div>
  </div>

  <div class="row m-t">
    <div class="col-xs-12">
      <div class="time-tracker"><i class="fa fa-user"></i> {{ person.firstName }} {{ person.lastName }}</div>
    </div>
  </div>

  <div class="row m-t">
    <div class="col-xs-6">
      <div class="time-tracker" data-toggle="tooltip" data-placement="top" title="Date d'anniversaire">
        <i class="fa fa-birthday-cake"></i> {{ person.birthDate }}
      </div>
    </div>

    <div class="col-xs-6">
      <div class="time-tracker" data-toggle="tooltip" data-placement="top" title="Date de décès">
        <i class="fa fa-cloud"></i> Death date
      </div>
    </div>
  </div>

  <div class="row m-t">
    <div class="col-xs-12">
      <div class="time-tracker">
        <i class="fa fa-user"></i> {{ person.postalCode }} {{ person.city }} {{ person.thoroughfare }}
      </div>
    </div>
  </div>

  <div class="row m-t">
    <div class="col-xs-12">
      <div class="time-tracker"><i class="fa fa-user"></i> Information</div>
    </div>
  </div>
</aside>
