<%= render layout: 'sidebar/sidebar' do %>
<% end %>

<% content_for :sidebar do %>
  <%= render 'application/sidebar' %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="content-secondary">
      <%= render 'application/sidebar' %>
    </div>

    <div class="content-main">
      <div id="content">
        <div class="row">
          <div class="col-xs-12">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
