.form-status {
  @extend .p-a, .text-center;

  background-color: #FFF;
  border-radius: $border-radius;

  &.up {
    color: $brand-success;
    border: 1px solid $brand-success;
  }

  &.down {
    color: $brand-danger;
    border: 1px solid $brand-danger;
  }
}
