<% content_for :breadcrumb do %>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#person-information">PERSON INFORMATION</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"></a>
    </li>
  </ul>
<% end %>
